@import './css/menu.css';
@import './css/apresentacao.css';
@import './css/beneficios.css';
@import './css/resposta.css';
@import './css/endereco.css';
@import './css/footer.css';
*{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}
body{
    background-color: rgb(238, 238, 238);
}