footer{
    padding: 2rem;
    box-sizing: border-box;
    background-color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 5rem;
    box-shadow: 0 0 .2rem .1rem grey;
    display: flex;
    justify-content: center;
}
footer p{
    color: #333;
    font-weight: lighter;
}
